<nav class="navbar navbar-expand-lg app-bg d-flex justify-content-between py-3 w-100">
    <div class="text-white d-flex align-items-center float-left">
        <i class="fas fa-bars font-size-25 ms-4" (click)="toggleSideBar()"></i>
        <i class="fas fa-graduation-cap font-size-30 ms-4"></i>
        <h5 class="font-weight-700 ms-3 font-size-35" style="letter-spacing: 3px;">
            Quizzes Online
        </h5>
    </div>
    <div class="d-flex px-3 text-white">
        <i class="fas fa-bell font-size-30"></i>
    </div>
</nav>