<nav
  class="navbar navbar-expand-lg d-flex justify-content-between py-3 w-100"
  style="box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); background-color: #2d2929"
>
  <div class="text-white d-flex align-items-center float-left pe-auto">
    <i class="fas fa-bars font-size-25 ms-5" (click)="toggleSideBar()" style="cursor: pointer;"></i>
    <i class="fas fa-graduation-cap font-size-30 ms-5"></i>
    <h5
      class="font-weight-700 ms-3 font-size-25 text-white mb-0"
      style="letter-spacing: 3px"
    >
      QUIZZES ONLINE
    </h5>
  </div>
  <div
    class="d-flex px-3 text-white align-items-center justify-content-between cursor-pointer"
  >
    <img src="../../../../assets/duytan.png" alt="logo" style="width: 50px" />
    <i class="fas fa-bell font-size-30 mx-4" pBadge [value]="21" severity="warning"></i>
  </div>
</nav>
