<div class="card">
    <div class="d-flex justify-content-between card-header">
        <h4 class="card-title d-inline-block">
            Bài thi {{ exam?.name }} - {{ exam?.description }}
        </h4>
        <span class="text-primary"
        ><b class="text-dark">Ngày tạo:</b> {{ exam?.dateCreated }}
      </span>
    </div>
    <div class="card-body">
        <div class="card-block">
            <ng-container *ngFor="let question of exam?.questions; let i = index">
                <app-question-form
                  [question]="question"
                  [index]="i"
                  [editable]="true"
                ></app-question-form>
              </ng-container>
              <div class="px-3 text-center mt-2">
                  <button pButton label="Tạo câu hỏi" class="p-button-success rounded-50" icon="pi pi-plus"></button>
              </div>
        </div>
    </div>
</div>
