<div class="card">
    <div class="d-flex justify-content-between card-header">
        <h4 class="card-title d-inline-block">
            Bài thi {{ exam?.name }} - {{ exam?.description }}
        </h4>
        <span class="text-primary"
        ><b class="text-dark">Ngày tạo:</b> {{ exam?.dateCreated }}
      </span>
    </div>
    <div class="card-body">
        <div class="card-block">
            <ng-container *ngFor="let question of exam?.questions; let i = index">
                <app-question-form
                  [question]="question"
                  [index]="i"
                  [editable]="true"
                ></app-question-form>
              </ng-container>
              <div class="py-3 mt-1">
                  <app-create-question-form></app-create-question-form>
              </div>
        </div>
    </div>
</div>
