<!-- 
<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-sidebar></app-sidebar>
  <div class="app-sidebar">
    <div class="page-content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
      </div>
  </div>
  </div>
</div> -->
<router-outlet></router-outlet>
<ngx-ui-loader
  bgsType="three-strings"
  [bgsSize]="300"
  bgsColor="#1f16f5"
  fgsType="three-strings"
  [fgsSize]="500"
  bgsPosition="center-center"
  [hasProgressBar]="true"
></ngx-ui-loader>