.page-wrapper {
  height: 100vh;
  
  .page-content {
    display: inline-block;
    width: 100%;
    transition: padding-left 0.3s ease;
    background-color: rgba(0, 0, 0, 0.05);
    @media screen and (min-width: 768px) {
      padding-left: 260px;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: 0.5;
      display: none;

      &.show {
        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  .sidebar {
    left: 0px;
  }

  &.toggled {
    .page-content {
      padding-left: 0;
    }
  }

  .attribution {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
  }
}
