<div class="container app-padding">
  <div class="login card m-auto app-padding pb-1">
    <div>
      <img
        src="../../../../../assets/duytan.png"
        alt=""
        style="max-width: 80px"
        class="mx-auto d-block"
      />
      <h5 class="card-title font-weight-600 font-size-25 text-center mt-2 text-dark">
        Quizzes Online
      </h5>
      <h6 class="card-subtitle font-size-22 text-center font-weight-600 mt-2 text-dark">
        Đăng nhập
      </h6>
    </div>
    <div class="card-body">
      <div class="card-block">
        <form action="#" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group">
            <label class="font-size-15 font-weight-500 mb-2">Tên tài khoản</label>
            <input
              type="text"
              class="app-control form-control"
              placeholder="Nhập tài khoản của bạn"
              formControlName="username"
              [class.is-invalid]="
              UserName.invalid && (UserName.touched || UserName.dirty)
              "
              [class.is-valid]="UserName.valid && (UserName.touched || UserName.dirty)"
            />
            <div
              *ngIf="UserName.invalid && (UserName.touched || UserName.dirty)"
              text-error
            >
              <p *ngIf="UserName.errors?.minLength">Tên tài khoản phải có ít nhất 6 kí tự !</p>
              <p *ngIf="UserName.errors?.maxLength">Tên tài khoản tối đa 24 kí tự !</p>
              <p *ngIf="UserName.errors?.required">Vui lòng tài khoản  !</p>
            </div>
          </div>
          <div class="form-group mt-3">
            <label class="font-size-15 font-weight-500 mb-2">Mật khẩu</label>
            <input
              type="password"
              class="app-control form-control"
              placeholder="Nhập mật khẩu của bạn"
              pPassword
              mediumRegex="^[a-zA-Z0-9!@#$%^&*]{6,18}$" 
              formControlName="password"
              [class.is-invalid]="
                Password.invalid && (Password.touched || Password.dirty)
              "
              [class.is-valid]="
                Password.valid && (Password.touched || Password.dirty)
              "
            />
            <div
              *ngIf="Password.invalid && (Password.touched || Password.dirty)"
              text-error
            >
              <p *ngIf="Password.errors?.required">Vui lòng nhập mật khẩu !</p>
              <p *ngIf="Password.errors?.pattern">Mật khẩu sai định dạng !</p>
              <p *ngIf="Password.errors?.minLength">
                Mật khẩu phải ít nhất 6 kí tự !
              </p>
              <p *ngIf="Password.errors?.maxLength">
                Mật khẩu tối đa 18 kí tự !
              </p>
            </div>
          </div>
          <div
            class="py-1 font-weight-700 font-size-16 app-color line-height-3"
          >
            Quên mật khẩu ?
          </div>
          <div>
            <button
              type="submit"
              class="
                btn-raised
                app-btn app-bg
                text-white
                d-block
                w-100
                mt-4
                font-weight-700 font-size-22
              "
              [class.darker]="
                loginForm.invalid && (loginForm.touched || loginForm.dirty)
              "
              [class.user-select-none]="loginForm.invalid"
              [disabled]="loginForm.invalid && (loginForm.touched || loginForm.dirty)"
            >
              Đăng nhập
            </button>
          </div>
        </form>
        <app-form-footer
          text="Bạn chưa có tài khoản?"
          button="Đăng kí"
          link="/account/register"
        >
        </app-form-footer>
      </div>
    </div>
  </div>
</div>
